html {
    height: 100%;
}
body {
    height: 100%;
    background:black url("../images/thu.jpg");
    background-attachment: fixed;
    background-size: cover;
    font-family:'Noto Serif TC', serif;
}

.blog-border {
    
    background-color: rgba(250, 250, 250, 0.8);
    width: 90%; 
    margin: auto;
    border: 1rem solid white;
    padding: 2rem;
    margin-top: 4rem; /*to avoid overlapping with navbar*/
}
@media (min-width: 600px) {
    .blog-border {
        width: 70%; 
    }
}
img {
    height: 60%;
    
} 

.col-6 {
    /* margin-bottom: 1rem; */
    max-height: 15rem;
}
.col-5 ,.col-6{
    margin-bottom: 1rem;
}
p.col-6 {
    padding-top: 2rem;
}

hr {
    margin: 2rem 0rem;
}

strong {
    text-decoration-line: underline;
}